<div class="panel">
    <h3 class="panel__title">Manage Account</h3>

    <div class="account__header">
        <a href (click)="browseLocalAccount()" (auxclick)="openLocalAccount()" title="open {{ account.info.id }}">
            <img class="account__avatar" src="{{account.avatar}}" />
        </a>

        <!-- <a href class="account__header--button"><fa-icon [icon]="faUserPlus"></fa-icon></a> -->
        <a *ngIf="isBookmarksAvailable" href class="account__header--button" title="bookmark"
            (click)="loadSubPanel('bookmarks')"
            [ngClass]="{ 'account__header--button--selected': subPanel === 'bookmarks' }">
            <fa-icon [icon]="faBookmark"></fa-icon>
        </a>

        <a href class="account__header--button" title="favorites" (click)="loadSubPanel('favorites')"
            [ngClass]="{ 'account__header--button--selected': subPanel === 'favorites' }">
            <fa-icon [icon]="faStar"></fa-icon>
        </a>
        <a href class="account__header--button" title="DM" (click)="loadSubPanel('dm')"
            [ngClass]="{ 'account__header--button--selected': subPanel === 'dm' }">
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
        <a href class="account__header--button" title="mentions" (click)="loadSubPanel('mentions')"
            [ngClass]="{ 'account__header--button--selected': subPanel === 'mentions', 'account__header--button--notification': hasMentions }">
            <fa-icon [icon]="faAt"></fa-icon>
        </a>
        <a href class="account__header--button" title="notifications" (click)="loadSubPanel('notifications')" [ngClass]="{ 'account__header--button--selected': subPanel === 'notifications', 
            'account__header--button--notification': hasNotifications }">
            <fa-icon [icon]="faBell"></fa-icon>
        </a>
        <a href class="account__header--button" title="account" (click)="loadSubPanel('account')"
            [ngClass]="{ 'account__header--button--selected': subPanel === 'account' }">
            <fa-icon [icon]="faUser"></fa-icon>
        </a>
    </div>

    <app-bookmarks class="account__body" *ngIf="subPanel === 'bookmarks'" [account]="account"
        (browseAccountEvent)="browseAccount($event)" (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-bookmarks>
    <app-direct-messages class="account__body" *ngIf="subPanel === 'dm'" [account]="account"
        (browseAccountEvent)="browseAccount($event)" (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-direct-messages>
    <app-favorites class="account__body" *ngIf="subPanel === 'favorites'" [account]="account"
        (browseAccountEvent)="browseAccount($event)" (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-favorites>
    <app-mentions class="account__body" *ngIf="subPanel === 'mentions'" [account]="account"
        (browseAccountEvent)="browseAccount($event)" (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-mentions>
    <app-my-account class="account__body" *ngIf="subPanel === 'account'" [account]="account"></app-my-account>
    <app-notifications class="account__body" *ngIf="subPanel === 'notifications'" [account]="account"
        (browseAccountEvent)="browseAccount($event)" (browseHashtagEvent)="browseHashtag($event)"
        (browseThreadEvent)="browseThread($event)"></app-notifications>
</div>